# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# C++
*.sln
*.json

# Distribution / packaging
.Python
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/.wsuo
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/FileContentIndex/0a4d50d0-3659-4201-b08f-c86693defc97.vsidx
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/FileContentIndex/9b48b3b8-6cb8-4ead-98c1-4e9810234d1b.vsidx
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/FileContentIndex/14d0c9e1-c459-4f71-af1f-3d8f6caf3ed2.vsidx
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/FileContentIndex/34707978-2b95-4421-be47-8ac05e61024e.vsidx
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/config/applicationhost.config
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/Browse.VC.db
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/929abce41775d4e5/CHECKERS.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/1790632454aefb87/CHECKERS_TYPES.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/49c8566d3ccada0b/CHECKERSBOARD.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/bedb7a11ec356bc5/CHECKERSBOARD.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/cmake.db
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/CMake Overview
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/CMakePresets.json
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/CMakeWorkspaceSettings.json
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/ColorByRegexConfig.txt
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/FileContentIndex/fb601a62-a4ee-45d1-b505-e04c1dc38b69.vsidx
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/754885d6a3733d9b/ITOG.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/21f620b837add2e3/MAIN.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/a12f3a7475228dac/MAIN.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/b51fea52d8838759/MAIN.ipch
/SPBU olympics Petropolitan Science (Re)Search/2023-2024/task1/olimp (Petropolitan Science (Re)Search).sln
/SPBU olympics Petropolitan Science (Re)Search/2023-2024/task2/olimp_task2.sln
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/ProjectSettings.json
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/slnx.sqlite
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/68257f6d4656b253/TASK1.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/dd78af8cb55b3bee/TASK1.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/3458437ddbfcf5dc/TEST.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/task1/v17/ipch/AutoPCH/ed4da33fd1ec4256/TEST.ipch
/SPBU olympics Petropolitan Science (Re)Search/2024-2025/task1/.vs/VSWorkspaceState.json
/Yandex/CV week 2024 november/Contest/transposed_mnist_train.pt
/Yandex/CV week 2024 november/Lecture Learning/7/CV week I Лекция 7.pdf
/Yandex/CV week 2024 november/Lecture Learning/6/CV week I Лекция 6.pdf
/Yandex/internship_ml_autumn_winter_2024/E. Учимся ездить/train.csv
/Yandex/internship_ml_autumn_winter_2024/E. Учимся ездить/test.csv
/Yandex/CV week 2024 november/Contest/transposed_mnist_test.pt
/Yandex/internship_ml_autumn_winter_2024/F. Произведения электронного искусства/best_pictures